<template>
  <main role="main" class="container">
    <h1 class="mt-5">Video Streaming</h1>
    <div class="row mt-4">
      <div class="col-6">
        <form>
          <div class="form-group">
            <input type="text" class="form-control" v-model="username" placeholder="Enter your name" :disabled="videoStatus">
            <small id="emailHelp" class="form-text text-muted">We'll never share your name with anyone else.</small>
          </div>
        </form>
      </div>
      <div class="col-12 mt-4">
        <button type="button" @click="startWebCam()" class="btn btn-primary" v-if="!videoStatus">Start Camera</button>
        <button type="button" @click="startWebCam()" class="btn btn-danger" v-if="videoStatus">Close Camera</button>
      </div>
      <div class="col-12 mb-4 mt-4">
         <video autoplay="true" id="videoElement" :style="{ display: videoStatus }"></video>
         <canvas id="canvas" style="display:none"></canvas>
      </div>
    </div>
  </main>
</template>
<style scoped>
  #videoElement{
    width: 100% !important;
    min-height: 600px !important;
  }
</style>

<script lang="ts">
import { defineComponent } from 'vue'

const io = require("socket.io-client")

var ioClient = io.connect('http://localhost:3055')

export default defineComponent({
  data(){
    return {
      videoStatus: false,
      username: ''
    }
  },
  watch: {
    videoStatus: function(newVal){
      if (newVal) {
        var video:any = document.getElementById('videoElement');
        ioClient.emit('newuser', { user: this.username });

        ioClient.on('response', (res:any) => {
          console.log(res);
        })
        
        setInterval(() => { 
          var canvas:any = document.createElement("canvas");

          canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
          var dataUri = canvas.toDataURL('image/jpeg');

          ioClient.emit('takephoto', {
            user: this.username,
            photo: dataUri
          });
        }, 500);
      }
    }
  },
  methods: {
    startWebCam() {
      if(this.username == ''){
        alert('Please enter your name');
        return
      }
      
      this.runWebCam();
    },
    runWebCam(){
      this.videoStatus = !this.videoStatus

      if (this.videoStatus) {
        var video:any = document.querySelector("#videoElement");

        if (navigator.mediaDevices.getUserMedia) {
          navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (stream) {
              video.srcObject = stream;
            })
            .catch(function (err0r) {
              console.log("Something went wrong!");
            });
        }
      }
    }
  },
  setup() {
  },
})
</script>

