<template>
  <router-view/>
</template>

<style lang="scss">
  @import "~bootstrap/scss/bootstrap";
</style>

<script lang="ts">
import { defineComponent } from 'vue'
import 'bootstrap';

export default defineComponent({
  setup() {
    
  },
})
</script>
